img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

h1,
h2,
h3,
h4 {
  font-family: "Averia Sans Libre", Arial, Helvetica; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .overlay.hidden {
    opacity: 0; }
  .overlay .text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    font-size: 26px; }
